/*Footer*/

footer {
    background-color: rgb(42, 42, 42);
    color: white;
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    bottom: 0;
  }
  