// src/styles/style.scss

//level 1
// Use variables in Sass to define and reuse common values like colors, fonts, or spacing. NO
// Use nesting to organize styles within different sections or components of the landing page. Done (^^)

//level 2
//Utilize Sass mixins to create reusable styles for buttons, forms, or other UI components. Done (^^)
//Implement Sass partials to separate styles for different sections or components into separate files. Done(^^)

//call for page
@forward'pages'; 
//call for header
@forward'header';
//call for sections
@forward'sectionhp';
// call for buttons
@forward'btnsa';
// call for footer
@forward'footer';

//varibles, colors 
$backgr-main:#aaa7a7;
/*Main*/

main {
  background-color: $backgr-main
}

/*Menu bar*/

#menubar {
  list-style: none;

  li {
    display: inline-block;
  }
}

/*Hero section*/

#hero section {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: rgb(118, 117, 117);
}

/*Prouduct*/
/*Card-pic using flexbox: done*/

.card-container {
  display: flex;
  flex-wrap: wrap;

  /*Allow items to wrap to the next line*/
}

.card-item {
  width: 200px;
  padding: 20px;
  margin: 80px;
}

// media 
body{
  font-size: 16px;
}
/*Media query for screen smaller than 660px*/
@media(max-width:600px) {
  body{
    font-size: 14px;
  }
}
/*Media query for screen between 601 and 900px*/
@media(min-width:600px) and (max-width:900px) {
  body{
    font-size: 18x;
  }
}
/*Media query for screen larger than 900px*/
@media(min-width:901px) {
  body{
    font-size: 20px;
  }
}


/**/
.icon{
  color: black;
  font-size: 2em;
  text-align: center;
  background-color:$backgr-main;
}

.end{
  background-color:$backgr-main;
}
